*{
	margin: 0 auto;
	font-family: Helvetica;
}


header{
	width: 100%;
	float: left;
	/* position: relative; */
	background-color: #FFF;
	height: 100px;
}

section{
	width: 100%;
	/* float: left; */
}

.boxcenter{
	width: 1180px;
	margin: 0 auto;
}

.boxbanner{
	height: 600px;

}

.boxbanner img{
	width: 100%;
	height: 100%;
	
}


/* boxchay */

.slide{
	display: none;
}
	/* định dạng các chấm chuyển đổi các slide */
.dot{
	cursor:pointer;
  	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
	/* khi được hover, active đổi màu nền */
.active, .dot:hover {
	background-color: #717171;
}
	/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
/* .w3-animate-left{
	position:relative;
	animation:animateleft 0.4s
}

@keyframes animateleft{
	from{
		left:-300px;
		opacity:0
	} 
	to{
		left:0;
		opacity:1
	}
} */
	

/* endboxchay */
.logo{
	float: left;
	margin: 35px 80px;
}

nav{
	float: left;
}

ul{
	list-style: none;	
}

ul li{
	display: inline-block;
	padding: 45px 30px;
}

ul li a{
	color: black;	
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	font-family:"Ubuntu", Helvetica, Arial, sans-serif;
	cursor: pointer;
}

ul li a:hover{
	color: #ff3500;
	/* border-bottom: 2px red solid; */
}

.aaa{
	color: #ff3500;
}

/* boxchu */
.boxchu{
	width: 400px;
	position: absolute;
	top: 180px;
	left: 100px;
}

.boxchu h1{ 
	color: #FFF;
	float: left;
	font-size: 75px;
	font-family: Helvetica;
	font-style: italic;
	
}

.boxchu p{
	float: left;
	color: #FFF;
	font-family: Helvetica;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 18px;
	font-style: italic;

	line-height: 32px;
}

.boxchu button{
	color: #ff3500;
	background: white;
	border: none;
	position: absolute;
	top: 300px;
	left: 20px;
	border-radius: 30px;
	width: 180px;
	height: 60px;
	font-size: 13pt;
	font-weight: bold;
	/* cursor: pointer; */

}

.boxchu button:hover{	
	background: #ff3500;
	padding: 12px 32px;
	border: none;
	color: white;
}/* endboxchu */

/* boxchu1 */
.boxchu1{
	width: 640px;
	position: absolute;
	top: 180px;
	left: 130px;
}

.boxchu1 h1{ 
	color: #FFF;
	float: left;
	font-size: 4em;
	font-family: Helvetica;
	font-style: italic;
}

.boxchu1 p{
	float: left;
	color: #FFF;
	font-family: Helvetica;
	margin-top: 20px;
	font-size: 18px;
	font-style: italic;
}

.boxchu1 button{
	color: #ff3500;
	background: white;
	padding: 12px 32px;
	border: none;
	position: absolute;
	top: 150px;
	left: 0px;
	border-radius: 30px;
	width: 180px;
	height: 60px;
	font-size: 13pt;
	font-weight: bold;
	cursor: pointer;

}

.boxchu1 button:hover{	
	color: white;
	background: #ff3500;
	padding: 12px 32px;
	border: none;
}/* endboxchu1 */

/* boxchu2 */
.boxchu2{
	width: 640px;
	position: absolute;
	top: 180px;
	left: 130px;
}

.boxchu2 h1{ 
	color: #FFF;
	float: left;
	font-size: 3.5em;
	font-family: Helvetica;
	font-style: italic;
}

.boxchu2 p{
	float: left;
	color: #FFF;
	font-family: Helvetica;
	margin-top: 20px;
	width: 400px;
	height: 100px;
	font-size: 19px;
	font-style: italic;
}

.boxchu2 button{
	color: #ff3500;
	background: white;
	padding: 12px 32px;
	border: none;
	position: absolute;
	top: 150px;
	left: 0px;
	border-radius: 30px;
	width: 180px;
	height: 60px;
	font-size: 13pt;
	font-weight: bold;
	cursor: pointer;

}

.boxchu2 button:hover{	
	color: white;
	background: #ff3500;
	padding: 12px 32px;
	border: none;
}/* endboxchu2 */

.boxcenter1{
	width: 1000px;
	margin: 0 auto;
}

/* boxlogin */
.boxlogin{
	width: 500px;
	height: 300px;
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
	z-index: 4;
	position: fixed;
    top: 25%;
	left: 32%;
	opacity: 0;
	visibility: hidden;
	transition: 0.6s;
	transform: translateY(500px);

}

.boxlogin h3{
	
	padding: 10px 12px;
	text-align: center;
	border-bottom: 1px #e5e6e9 solid;
	letter-spacing: 5px;
}

/* .noidung{
	text-align: center;
} */

.noi_dung_input{
	width: 420px;
	height: 250px;
	float: left;
	/* text-align: center; */
	margin-left: 40px;
	/* margin-top: 20px; */
}

.noi_dung_input p{
	width: 200px;
	height: 30px;
	float: left;
	margin-top: 20px;
}

.box-input{
	border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 35px;
    padding-left: 18px;
    font-size: 13px;
	background: transparent;
	margin-top: 10px;
	width: 95%;
}

.btn-login{
	padding: 10px 20px;
	border: none;
	color: #fff;
	background-color: black;
	border-radius: 2px;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	float: left;
	margin-top: 10px;
	margin-left: 170px;
	

}


/* button.btn-close{
	padding: 10px 12px;
	border: none;
	color: black;
	background-color: #ff3500;
	border-radius: 2px;
	box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	float: right;
	margin-top: 10pxx;
} */

.nen-mo{
	width: 100%;
	height: 100%;
	background: #131313b0;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	transition: 0.6s;
}

.hien-ra{
	opacity: 1;
	visibility: visible;
	transition: 0.6s;
	transform: translateY(0px);
}

/* box2 */
.box2{
	width: 1140px;
	height: 710px;
	margin-top: 120px;
}

.boxservices{
	width: 1140px;
	height: 218px;
	float: left;
}

.boxser{
	width: 650px;
	height: 218px;
	margin: 0 auto;
}

.boxser h3{
	font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #191d34;
	font-family: "Poppins", sans-serif;
	text-align: center;
}

.boxser p{
	font-size: 16pt;
	line-height: 30px;
    color: #909092;
	font-weight: 400;
	text-align: center;
}

.box_3services{
	width: 1140px;
	height: 492px;
	float: left;
}

.col-1{
	width: 350px;
	height: 492px;
	float: left;
	margin-left: 16px;
	margin-right: 10px;
	border-radius: 10px;
	border: 1px solid #ffc5c2;
	transition: 0.5s;
}

.col-1:hover{
	box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    border: 1px solid transparent;
}

.single_services{
	width: 310px;
	height: 422px;
	margin-top: 70px;
	/* background-color: red; */
}

.boxhinh_sv{
	width: 160px;
	height: 140px;
	margin: 0 auto;
}

.boxchu_sv{
	width: 298px;
	height: 142px;
	margin-top: 43px;
}

.boxchu_sv h3{
	font-size: 25px;
    font-weight: 600;
	margin-bottom: 22px;
	text-align: center;
}

.boxchu_sv p{
	font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #909092;
	margin-bottom: 13px;
	text-align: center;
}/* end box2 */

/* box3 */
.box3{
	width: 1140px;
	height: 550px;
	margin-top: 80px;

}

.box_pet_hinh{
	width: 475px;
	height: 550px;

	float: left;
}

.box_pet_hinh img{
	width: 100%;
	margin-top: 40px;
}

.box_pet_chu{
	width: 665px;
	height: 380px;

	float: left;
	margin-top: 170px;
}

.box_chu{
	width: 430px;
	height: 380px;
	
	float: left;
	margin-left: 100px;
}

.box_chu h3{
	font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #191d34;
    font-family: "Poppins", sans-serif;
}

.box_chu p{
	color: #66666f;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 54px;
    margin-top: 30px;
}

.box_chu button{
	width: 180px;
	height: 60px;
	background-color: #ff3500;
	color: white;
	border-radius: 30px;
	font-size: 13pt;
    font-weight: bold;
	border: none;
}/* end box3 */


/* box4 */
.box4{
	width: 1140px;
	height: 650px;
	margin-top: 50px;
}

.col-2{
	width: 440px;
	height: 350px;
	float: left;
	margin-top: 125px;
}

.col-2 h3{
	font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #191d34;
}

.col-2 p{
	color: #66666f;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 54px;
    margin-top: 30px;
}

.col-2 button{
	width: 180px;
    height: 60px;
    background-color: #ff3500;
    color: white;
    border-radius: 30px;
    font-size: 13pt;
    font-weight: bold;
    border: none;
}

.col-3{
	width: 660px;
	height: 600px;
	float: left;
	margin-left: 40px;
}

.col-3_nho{
	width: 590px;
	height: 600px;
	float: left;
	margin-left: 70px;
}

.col-3_nho_1{
	width: 275px;
	height: 300px;
	float: left;
	margin-top: 140px;
	margin-bottom: 40px;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    border-radius: 14px;
}

.col-3_nho_1_trong{
	width: 200px;
	height: 230px;
	margin-top: 40px;
	text-align: center;
}

.col-3_nho_1_trong img{
	width: 60px;
	height: 82px;

}

.col-3_nho_1_trong_chu{
	width: 175px;
	height: 114px;
}

.col-3_nho_1_trong_chu h3{
	font-size: 60px;
    font-weight: 700;
    color: #383737;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 10px;
	line-height: 1;
	text-align: center;
}

.col-3_nho_1_trong_chu p{
	font-size: 20px;
    color: #808080;
    font-weight: 400;
   
}

.col-3_nho_2{
	width: 295px;
	height: 600px;
	float: left;
	margin-left: 20px;
}

.col-3_nho_2_1{
	width: 275px;
	height: 300px;
	float: right;
	box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    border-radius: 14px;
}

.col-3_nho_2_2{
	width: 275px;
	height: 300px;
	float: right;
	box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
	border-radius: 14px;
	margin-top: 40px;
}

.col-3_nho_2_trong{
	width: 200px;
	height: 230px;
	margin-top: 40px;
	text-align: center;
}

.col-3_nho_2_trong img{
	width: 80px;
	height: 71px;

}

.col-3_nho_2_trong_chu{
	width: 175px;
	height: 114px;
}

.col-3_nho_2_trong_chu h3{
	font-size: 60px;
    font-weight: 700;
    color: #383737;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 10px;
	line-height: 1;
	text-align: center;
}

.col-3_nho_2_trong_chu p{
	font-size: 20px;
    color: #808080;
    font-weight: 400;
}/* end box4 */

/* box5 */
.box5{
	width: 100%;
	height: 560px;
	margin-top: 80px;
	background-image: url('../images1/contact_bg.png');
	background-position: center center;
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.container{
	width: 1140px;
	height: 560px;
}

.container_nho{
	width: 730px;
	height: 285px;
	float: left;
	margin-top: 150px;
	margin-left: 215px;
}

.container_chu_1{
	width: 730px;
	height: 175px;
}

.container_chu_1 h3{
	font-size: 50px;
    font-weight: bold;
    line-height: 60px;
	color: #fff;
	text-align: center;
}

.container_chu_1 p{
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    margin-top: 35px;
	margin-bottom: 50px;
	text-align: center;
}


.container_chu_2{
	width: 730px;
	height: 60px;
	margin-top: 50px;
	text-align: center;	
}

.container_chu_2 button{
	width: 180px;
    height: 60px;
    background-color: white;
    color: #ff3500;
    border-radius: 30px;
    font-size: 13pt;
    font-weight: bold;
	border: none;
	float: left;
	margin-left: 200px;
}

.container_chu_2 button:hover{
	color:	white ;
	background-color: #ff3500;
}

.container_chu_2 p{
	margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

.container_chu_2 p a{
	font-weight: 600;
    color: #fff;
	margin-left: 10px;
	text-decoration: none;
}/* end box5 */

footer{
	width: 100%;
	height: 657px;
	/* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: #f8f8f8;
    /* position: relative; */
    z-index: 1;
}

.footer_top{
	width: 1140px;
	height: 551px;
}

.footer_top_trong{
	width: 1140px;
	height: 271px;
	float: left;
	margin-top: 150px;
}

.ml{
	margin-left: 20px;
}

.col-4{
	width: 270px;
	height: 271px;
	float: left;
}

.col-4_nho{
	width: 240px;
	height: 271px;
}

.col-4_nho h3{
	font-size: 25px;
    font-weight: 600;
    color: #2e2e2e;
    text-transform: capitalize;
    margin-bottom: 36px;
}

.col-4_nho p{
	font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: #7a7a7a;
}

.col-4_nho p a{
	font-size: 16px;
	color: #7a7a7a;
	text-decoration: none;
}

.footer_logo{
	width: 240px;
	height: 37px;
	font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.footer_chu{
	font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 28px;
}

.footer_icon{
	margin-top: 26px;
	width: 240px;
	height: 40px;
}

.footer_icon_1{
	width: 30px;
	height: 40px;
	float: left;
	margin-right: 7px;
}

.footer_icon_1 p{
	text-align: center;
}



.footer_bottom{
	width: 1140px;
	height: 106px;
}

.footer_bottom_nho{
	width: 1140x;
	height: 74px;
}

.borfer_1px{
	border-top: 1px solid #e0e0e0;
	width: 1140px;
	height: 31px;
	/* margin-bottom: 30px; */
}

.footer_bottom_chu{
	width: 1140px;
	height: 43px;
	
}

.footer_bottom_chu p{
	font-size: 17px;
	font-weight: 200;
	line-height: 30px;
	color: #909092;
}
/* top và menu hiện ra */
.menu_co_dinh{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: white;
	box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.35) ;
	
}
.menu_co_dinh a{
	color: black;
}

.menu_co_dinh a:hover {
	color: #ff3500;
	border-bottom: none;
}


.myBtn {
	/* display: none; */
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 18px;
	border: none;
	background-color: #ff3500;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
  
.myBtn:hover {
background-color: black;
}













